html.light .post-item {
    position: relative;
    display: flex;
    flex-direction: column;
    color: $black;
    align-items: first baseline;
    background-color: #dad6b8;
    margin-bottom: 24px;
    box-shadow: 0 12px 32px rgba(0, 0, 0, 0.1);
    padding: 16px;
    border-radius: 20px;
    transition: transform 0.3s ease-in-out;
    }
html.light .post-item-title{
    font-size: x-large;
    color: $black;

}
html.light .post-item:hover {
    transform: scale(1.04);
}

html.light .shorten{
    overflow-wrap: anywhere;
    color: $black;
    word-break: normal;
    hyphens: auto;
    color: $dark-white;
    margin-top: 8px;
    color: $dark-white;
    font-size: 0.95rem;
    line-height: 1.5;
}






html.dark .post-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    background-color: #11294d;
    color: $dark-white;
    margin-bottom: 24px;
    box-shadow: 0 12px 32px rgba(0, 0, 0, 0.1);
    padding: 16px;
    border-radius: 20px;
    border: 2px ridge transparent;
    transition: transform 0.2s ease-in-out,
    border-color 0.2s ease;
    }
html.dark .post-item:hover {
    transform: scale(1.04);
    border-color: rgb(2, 109, 197);
}
html.dark .shorten{
    overflow-wrap: anywhere;
    word-break: normal;
    hyphens: auto;
    color: $dark-white;
    margin-top: 8px;
    color: $dark-white;
    font-size: 0.95rem;
    line-height: 1.5;
}
html.dark .shorten:hover{
        color: #ffffff;
}

html.light .post-item-title{
    font-size: x-large;
}
html.dark .post-item-title{
    font-size: x-large;
}

html.dark .posts-item-note{
    font-size: x-large;
}
html.light .posts-item-note{
    font-size: x-large;
}

